<div class="tab-pane fade show active" id="list-profile" role="tabpanel">
<div class="container" style="float:left;padding-top:5px;">
   
  <table class="table table-striped">
    <thead>
	<tr class="table-success">
      <th>FirstName</th>
      <th>LastName</th>
      <th>Gender</th>
      <th>DateOfBirth</th>
      <th>Department</th>
    </tr>
	</thead>
	<tbody>
    <tr *ngFor="let employee of employeelist">
     <td>
        {{employee.firstName}}
      </td>
      <td>
        {{employee.lastName}}
      </td>
      <td>
        {{employee.gender}}
      </td>
      <td>
        {{employee.dateOfBirth}}
      </td> 
      <td>
        {{employee.department}}
      </td> 
    </tr>
	</tbody>
  </table>
</div>
</div>